<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <header>
    <div class="">

      <div class="bg-slate-400 flex p-2 items-center text-gray-800">

        <div class="ml-2 h-25 w-25 rounded-full overflow-hidden">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrcgKBrRjZjYKs-ByqY9nSD8wJjtEXEiwUHQ&s" alt="">
        </div>

        <div class="font-serif h-20 ml-5">
          <h3 class="text-xl font-normal">Society of Computer Technology and Research's</h3>
          <h1 class="text-3xl font-extrabold text-red-600">Pune Institute of Computer Technology</h1>
          <h1 class="text-sm font-medium">An Autonomous Institute affiliated to Savitribai Phule Pune University</h1>         
        </div>

        <div class="flex ml-auto items-center gap-4 pr-4">

          <div class="text-xl font-serif font-bold text-slate-800 pl-4 hover:text-white hover:scale-110">
            <a href="">Home</a>
          </div>

          <div class="text-xl font-sans font-bold text-white h-8 w-25 bg-red-600 text-center rounded-sm hover:shadow-lg hover:scale-110 hover:bg-white hover:text-red-600 transition duration-200 ease-in-out">
            <button>Log Out</button>
          </div>

        </div>

      </div>

    </div>

  </header>
  <body class="bg-slate-200">

    <div class="flex p-7 ">

      <div class="bg-slate-700 h-screen w-1/4 rounded-l-lg shadow-2xl">

        <h3 class="text-center font-semibold mt-10 text-white text-2xl">HOD Interface</h3>
        <br>
        <br>
        <a href="#" class="text-left font-semibold mt-4 text-white text-lg pl-10 flex hover:text-red-500"><img src="https://img.icons8.com/?size=100&id=EWiNJQyqQJOT&format=png&color=FFFFFF" alt="" class="h-7 w-7 mr-3">Dashboard</a>
        <a href="#" class="text-left font-semibold mt-4 text-white text-lg pl-10 flex hover:text-red-500"><img src="https://img.icons8.com/?size=100&id=boRU6gYY2kDO&format=png&color=FFFFFF" alt="" class="h-7 w-7 mr-2">Inventory</a>
        <a href="#" class="text-left font-semibold mt-4 text-white text-lg pl-10 flex hover:text-red-500"><img src="https://img.icons8.com/?size=100&id=56387&format=png&color=FFFFFF" alt="" class="h-7 w-7 mr-3">Requests</a>
        <a href="#" class="text-left font-semibold mt-4 text-white text-lg pl-10 flex hover:text-red-500"><img src="https://img.icons8.com/?size=100&id=LFC9fivf2q5C&format=png&color=FFFFFF" alt="" class="h-7 w-7 mr-3">Approvals</a>
        <a href="#" class="text-left font-semibold mt-4 text-white text-lg pl-10 flex hover:text-red-500"><img src="https://img.icons8.com/?size=100&id=ywULFSPkh4kI&format=png&color=FFFFFF" alt="" class="h-7 w-7 mr-3">Profile</a>

      </div>

      <div class="bg-slate-100 h-screen w-full rounded-r-lg shadow-xl">

        <h1 class="text-5xl p-8 pb-0 font-sans font-normal">E&TCE DEPARTMENT INVENTORY</h1>
        <h1 class="text-5xl ml-8 mt-3 font-sans font-normal">MANAGEMENT SYSTEM</h1>
        <br>
        <br>
        <h3 class="text-4xl ml-8 font-serif font-semibold text-red-600">Welcome, Dr. M. V. Munoth</h3>
        <br>

        <div class="flex">

          <div class="h-30 w-55 bg-gray-200 justify-center ml-6 rounded-md shadow-md hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">

              <h3 class=" font-sans font-medium text-xl p-4 ">Total Inventory</h3>
              <a  href=# class=" font-sans font-medium text-3xl p-4 pb-0 text-blue-950 hover:text-red-500">750</a>
          </div>

          <div class="h-30 w-55 bg-gray-200 justify-center ml-4 rounded-md flex flex-col items-center shadow-md hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">

            <img src="https://img.icons8.com/?size=100&id=97037&format=png&color=1A1A1A" alt="" class="h-10 w-10">
            <a  href=# class=" font-sans font-medium text-xl p-4 pb-0 text-blue-950 hover:text-red-500">E&TC Laboratories</a>
          </div>

          <div class="h-30 w-55 bg-gray-200 justify-center ml-4 rounded-md flex flex-col items-center shadow-md hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">

            <img src="https://img.icons8.com/?size=100&id=3653&format=png&color=000000" alt="" class="h-10 w-10">
            <a  href=# class=" font-sans font-medium text-xl p-4 pb-0 text-blue-950 hover:text-red-500">Classrooms</a>
          </div>

          <div class="h-30 w-55 bg-gray-200 justify-center ml-4 rounded-md flex flex-col items-center shadow-md hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">

            <img src="https://img.icons8.com/?size=100&id=87771&format=png&color=1A1A1A" alt="" class="h-10 w-10">
            <a  href=# class=" font-sans font-medium text-xl p-4 pb-0 text-blue-950 hover:text-red-500">E&TC Seminar Hall</a>
          </div>

        </div>
        <br>
        <div class="flex">

          <div class="h-30 w-55 bg-gray-200 justify-center ml-6 rounded-md shadow-md hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">

            <h3 class=" font-sans font-medium text-xl p-4 ">Pending Requests</h3>
            <a  href=# class=" font-sans font-medium text-3xl p-4 pb-0 text-blue-950 hover:text-red-500">15</a>
          </div>

          <div class="h-30 w-55 bg-gray-200 justify-center ml-4 rounded-md flex flex-col items-center shadow-md hover:shadow-xl hover:scale-105 transition duration-300 ease-in-out">

            <img src="https://img.icons8.com/?size=100&id=OS06UppbaUP1&format=png&color=000000" alt="" class="h-10 w-10">
            <a  href=# class=" font-sans font-medium text-xl p-4 pb-0 text-blue-950 hover:text-red-500">Budget</a>
          </div>

        </div>

       
      </div>

    </div>
    
  </body>
</html>