<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>ECE HOD Dashboard</title>
  <link rel="stylesheet" href="hodstylesheet.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <div id="headerdiv">
      <div class="search-container">
        <input type="text" id="inputtextfield" placeholder="Search (Powered by Google)">
        <div id="searchicondiv"></div>
      </div>
      <nav>
        <a href="#" class="HeaderAnchorTags">Useful Links</a>
        <a href="#" class="HeaderAnchorTags">Feedback</a>
        <a href="#" class="HeaderAnchorTags">Home</a>
        <a href="#" class="HeaderAnchorTags logout">Logout</a>
      </nav>
    </div>

    <div id="institutenamediv">
      <div id="collegelogo"></div>
      <div id="collegetitlediv">
        <h3>Society for Computer Technology and Research's</h3>
        <h1>PUNE INSTITUTE OF COMPUTER TECHNOLOGY</h1>
        <h2>College Inventory Management System</h2>
      </div>
    </div>
  </header>

  <main>
    <div id="bodydiv">
     <div class="card" id="departmentinventorysummary">
            <img src="https://img.icons8.com/?size=100&id=W4ZV--femrbv&format=png&color=228BE6" alt="ECE Inventory">
            <h2>ECE Department Inventory</h2>
     </div>
     
     <div class="card" id="approvalsummary">
            <img src="https://img.icons8.com/?size=100&id=59733&format=png&color=228BE6" alt="Approvals">
            <h2>Approvals</h2>
     </div>

     <div class="card" id="reports">
            <img src="https://img.icons8.com/?size=100&id=57714&format=png&color=228BE6" alt="Reports">
            <h2>Reports</h2>
     </div>
      
    </div>
  </main>

</body>
</html>
