<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Inventory Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="stylesheetHomePage.css">
</head>

<header>
    <div id="headerdiv">
        <input type="text" id="inputtextfield" placeholder="Enhanced By GOOGLE">
        <div id="searchicondiv"></div>
        <a href="" id="link" class="HeaderAnchorTags">Useful Links</a>
        <a href="" id="feedback" class="HeaderAnchorTags">Feedbacks</a>
        <a href="" id="login" class="HeaderAnchorTags">LOGIN</a>
    </div>
    <div id="institutenamediv">
            <div id="collegelogo"></div>
            <div id="collegetitlediv">
                <h3 style="color: #E63946">Society for Computer Technology and Research's</h3>
                <h1 style="color: #2A5F8A">PUNE INSTITUTE OF COMPUTER TECHNOLOGY</h1>
                <br>
                <h1 style="color: #E63946">College Inventory Management System</h1>
            </div>
    </div>
</header>
<body>
    <div id="menubardiv">
        <a href="">DASHBOARD</a>
        <a href="">DEPARTMENTS</a>
        <a href="">RESEARCH</a>
        <a href="">SURVEY</a>
        <a href="">BUDGET</a>
    </div>

    <div id="departmentdiv">
        <table id="departmenttable">
            <thead>
                <tr>
                    <th>Department ID</th>
                    <th>Department Name</th>
                    <th>Total Inventory</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>400501</td>
                    <td>CSE</td>
                    <td>446</td>
                </tr>
                <tr>
                    <td>400502</td>
                    <td>IT</td>
                    <td>254</td>
                </tr>
                <tr>
                    <td>400503</td>
                    <td>E&TE</td>
                    <td>512</td>
                </tr>
                <tr>
                    <td>400504</td>
                    <td>AIDS</td>
                    <td>162</td>
                </tr>
                <tr>
                    <td>400505</td>
                    <td>E&CE</td>
                    <td>250</td>
                </tr>
            </tbody>
        </table>

        <table id="inventorytable">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4005A</td>
                    <td>Computer</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>4005B</td>
                    <td>Projector</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>4005C</td>
                    <td>DSO</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>4005D</td>
                    <td>Connecting Wires</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>4005E</td>
                    <td>LED Screens</td>
                    <td>10</td>
                </tr>
            </tbody>
        </table>
    </div>
   
    <div class="Wrapper">
        <div class="calendar-container">
            <iframe src="https://calendar.google.com/calendar/u/0/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia/Kolkata&src=cGljdC5lZHVfOHNuaW1ncXFlNWkxcGVsZzh0Y2VsbjkxMXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%234285F4&pli=1">
            </iframe>
        </div>
    </div>
</body>

<footer>
    <div class="Footer">
        <div class="Subfooter">
            <h3>Address</h3>
            <br>
            <h5>Survey No. 27, Near Trimurti Chowk</h5>
            <h5>Dhankwadi, Pune - 411043</h5>
            <h5><a href="https://www.google.com/maps/dir//SCTR'S+Pune+Institute+of+Computer+Technology+Survey+No.+27+Near,+Trimurti+Chowk,+Bharati+Vidyapeeth+Campus,+Dhankawadi+Pune,+Maharashtra+411043/@18.4575421,73.8508336,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3bc2eac85230ba47:0x871eddd0a8a0a108!2m2!1d73.8508336!2d18.4575421">Google maps link</a></h5>
        </div>

        <div class="Subfooter">
            <h3>Contact</h3>
            <br>
            <h5>+91 20 24371101</h5>
            <h5>Fax: +91 20 24364741</h5>
            
        </div>

        <div class="Subfooter">
            <h3>Email Address</h3>
            <br>
            <h5>registrar@pict.edu</h5>
        </div>
    </div>
</footer>
</html>